.anyconnect
.CFUserTextEncoding
.bash_history
.bash_sessions/
.cisco/
.config/
.DS_Store
.Trash
.gitconfig
.histfile
.lesshst
.local
.npm
.ssh
.viminfo
.zcompdump
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
code/

